# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Metaapi\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\blade\PycharmProjects\Metaapi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
